@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./assets/fonts/montserrat/Montserrat-Regular.ttf) format('truetype'); // path starts form ./src
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-semi-bold'), url(./assets/fonts/montserrat/Montserrat-SemiBold.ttf) format('truetype');
    font-weight: 600;
}